*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
header nav a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}
header nav a img{
    width: 150px;
}
.logo{
    /* float: left; */
}

/* main section */
main{
    min-height: 120vh;
    width: 100%;
    
}
/* section1  */
main .section1{
    padding: 20px;
    background: linear-gradient(to right, #6a5fff 10%, #f628a7 90%);
}
/* section 2 */
main .section2{
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(245, 242, 242, 0.4)), url(../assets/img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* section 3 */
main .section3{
    padding: 20px;
    background: rgb(255, 88, 88)
}
/* section 4 */
main .section4{
    padding: 20px;
    /* background: linear-gradient(145deg, #444, #ff8e8e), url(../assets/img/sunset.jpg); */
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/img/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
aside{
    background-color: rgb(250, 236, 147);
    color: #fff;
}
footer{
    background-color: #333;
    color: #fff;
}
   